body {
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

header {
    margin: 2em 1em 0.5em 1em;
    text-align: center;
}

main {
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 1.5em;
    text-align: center;
    background-color: #d4edff;
    width: 100%;
}

h2 {
    margin: 1em;
}

#map {
    display: none;
    width: 100%;
    max-width: 600px;
    height: 500px;
    border: 4px solid #d4edff ;
    margin-bottom: 0.5em;
}


.instructions {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin-top: 1em;
}

.city-state-container {
    background-color: #d4edff;
    max-width: 300px;
    box-shadow: 1.5px 3.0px 3.0px hsl(205, 25%, 55%);
    padding: 1em;
}

#submit-btn {
    margin-top: 1em;
}

form {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
}

label {
    margin-right: 0.75em;
    margin-left: 0.75em;
}

.results-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 1.5em 1em;
}

button {
    background-color: #a3d9ff;
    margin-bottom: 1em;
    padding: 1em;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 3.0px 3.0px hsl(205, 25%, 55%);
}

button:hover {
    background-color: #d4edff;
}

#clear-btn {
    display: none;
}

#return-btn {
    display: none;
    width: 50%;
    min-width: 175px;
}

a:link {
    color: black;
    text-decoration:none;
}

a:visited {
    color: #3d7daa;
    text-decoration: none;
}

a:hover {
    color:#68c0ff;
}

#cityInput {
    width: 75%;
    margin-right: 0.75em;
}

#stateInput {
    width: 18%;
    margin-right: 0.75em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.distance-input {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    gap: 1em;
    box-shadow: 1.5px 3.0px 3.0px hsl(205, 25%, 55%);
    padding: 1em;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4edff;
    margin: 1em;
}

.inputs:first-child {
    padding-bottom: 0;
}

table {
    display: none;
    width: 80%;
    max-height: 600px;
    max-width: 600px;
    overflow-y: auto;
    margin-top: 0.5em;
}

thead {
    text-align: center;
    position: sticky;
    top: 0;
}

.table-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: #a5d9ff;
}

tr:hover td {
    background: #d4edff;
}

.active td {
    background: #d4edff;
}

@media (min-width: 768px) {

    map {
        min-width: 600px;
    }

    .results-container {
        flex-direction: row;
    }

    table {
        max-height: 450px;
        max-width: 600px;
    }

    #return-btn {
        padding: 0.5em;
    }

}